# Python
__pycache__/
*.py[cod]

# IDE
.cproject
.project
.idea/

# Build/Prepared
build/
preparedXware/

# Arch package
*.pkg.tar.xz
*.src.tar.gz
pkg/

# Debian package
debian/xware-desktop/
debian/files
debian/*.debhelper.log
debian/*.substvars

# pyqt generated
ui_*.py
*_rc.py

# coffeescript generated
xwarejs.js

# my building environment flag
.localdev
unused/