# Python
__pycache__/
*.py[cod]

# Editor temp
*~
*.autosave

# IDE
.cproject
.project
.idea/
*.pro.user

# Qt Creator
XwareDesktop.config
XwareDesktop.creator
XwareDesktop.creator.user
XwareDesktop.creator.user.*
XwareDesktop.files
XwareDesktop.includes

# Build/Prepared
build/
preparedXware/

# Arch package
*.pkg.tar.xz
*.pkg.tar
*.src.tar.gz
pkg/

# Debian package
debian/xware-desktop/
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

#QT qml generated
*.qmlc

# pyqt generated
ui_*.py
*_rc.py

# coffeescript generated
*.js

#js map file
*.js.map

# my building environment flag
.localdev
unused/

# OS
Thumbs.db
desktop.ini
.DS_Store

#qmake stash
.qmake.stash
#jsc
*.jsc
#debhelper-build-stamp
debhelper-build-stamp

