# Python
__pycache__/
*.py[cod]

# Editor temp
*~

# IDE
.cproject
.project
.idea/

# Qt Creator
XwareDesktop.config
XwareDesktop.creator
XwareDesktop.creator.user
XwareDesktop.files
XwareDesktop.includes

# Build/Prepared
build/
preparedXware/

# Arch package
*.pkg.tar.xz
*.src.tar.gz
pkg/

# Debian package
debian/xware-desktop/
debian/files
debian/*.debhelper.log
debian/*.substvars

# pyqt generated
ui_*.py
*_rc.py

# coffeescript generated
*.js

# my building environment flag
.localdev
unused/

# OS
Thumbs.db
desktop.ini
.DS_Store
