Source: xware-desktop
Maintainer: Xinkai Chen <yeled.nova@gmail.com>
Section: net
Priority: optional
Build-Depends:
 gcc [i386], gcc-multilib [amd64],
 zlib1g [i386], zlib1g:i386 [amd64],
 coffeescript,
 pyqt5-dev-tools,
 debhelper,
 chrpath,
 sed,
 findutils
Standards-Version: 3.9.5
Homepage: https://github.com/Xinkai/XwareDesktop/wiki
Vcs-Git: git://gibhub.com/Xinkai/XwareDesktop.git
Vcs-Browser: https://github.com/Xinkai/XwareDesktop

Package: xware-desktop
Architecture: i386 amd64
Depends:
 ${shlibs:Depends}, ${misc:Depends},
 python3, python3-pyqt5, python3-pyqt5.qtwebkit, python3-pyqt5.qtmultimedia, python3-requests, python3-pyinotify,
 libcap2-bin,
 zlib1g [i386], zlib1g:i386 [amd64],
 libc6 [i386], libc6:i386 [amd64]
Description: An attempt to bring Xware (Xunlei on routers) to desktop Linux.
 An attempt to bring Xware (Xunlei on routers) to desktop Linux.