[Desktop Entry]
Version=1.0
Type=Application
Name=Xware Desktop
Comment=桌面化迅雷固件
TryExec=/usr/bin/xware-desktop
Exec=/usr/bin/xware-desktop %U
StartupNotify=false
Categories=Network;
Terminal=false
Icon=xware-desktop
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/ed2k;x-scheme-handler/thunder;x-scheme-handler/qqdl;x-scheme-handler/flashget
#Actions=Gallery;Create;

#[Desktop Action Gallery]
#Exec=fooview --gallery
#Name=Browse Gallery

#[Desktop Action Create]
#Exec=fooview --create-new
#Name=Create a new Foo!
#Icon=fooview-new