[Unit]
Description=Xware Service
After=network.target

[Service]
Type=simple
User=xware
Group=xware
ExecStart=/opt/xware_desktop/daemon

[Install]
WantedBy=multi-user.target