# xwared - Xware Desktop daemon

author          "Xinkai Chen <yeled.nova@gmail.com>"
description     "An attempt to bring Xware (Xunlei on routers) to desktop Linux."

start on startup
stop on session-end

pre-start script
end script

exec ##PREFIX##/xwared --log-novomit

post-start script
end script
